{% extends "base.html" %}

{% block content %}
<div class="ore-panel">
    <h2 class="ore-panel__title">Register New Account</h2>
    <div class="ore-panel__content">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }} <div class="ore-form-group">
                {{ form.username.label }}<br>
                {{ form.username(class_='ore-input', size=32) }}<br>
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="ore-form-group">
                {{ form.email.label }}<br>
                {{ form.email(class_='ore-input', size=32) }}<br>
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="ore-form-group">
                {{ form.password.label }}<br>
                {{ form.password(class_='ore-input', size=32) }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="ore-form-group">
                {{ form.password2.label }}<br>
                {{ form.password2(class_='ore-input', size=32) }}<br>
                {% for error in form.password2.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="ore-form-group">
                {{ form.submit(class_='ore-button ore-button--primary') }}
            </div>
        </form>
    </div>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="ore-panel" style="margin-top: 20px;">
    <ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}
{% endwith %}
{% endblock %}